.board {
    height: 75vh;
}

// .row {
//     margin: 0;
//     height: 75vh;
// }

.column,
.col-sm-3 {
    display: inline-block;
    width: 24.7vw;
    margin-top: 5px;
    border-right: 1px dotted #000;
    padding: 0;
    text-align: center;

    &:last-child {
        border-right: none;
    }
}

.board-column-header {
    font-size: 1.2em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.board-column-content-wrapper {
    margin: 0;
    height: 70vh;
    overflow-x: none;
    overflow-y: hidden;

    &:hover {
        overflow-y: auto;
        margin-left: 10px;
    }
}

.board-item {
    background-color: #efffde;
    border: 1px dotted $btn-hover;
    border-radius: 5px;
    padding: 7px;
    cursor: move;
    margin: 0 auto 15px;
    width: 300px;
    height: 150px;
// Карточка задачи
    .board-item__content {
        pointer-events: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        .board-item__content-header {
            text-align: left;
            h4 {
                margin: 0 0 0 5px;
            }
        }
        .board-item__content-date {
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            justify-content: flex-end;
            .board-item__content-date-row {
                font-size: 15px;
                margin: 6px;
                h4 {
                    display: inline;
                    margin: 0;
                }
            }
        }
    }

}



.placeholder {
    background-color: white;
    margin-bottom: 0.5em;
    width: 300px;
    height: 150px;
}

.emptySectionHiddenLesson {
    background: none;
    border: none;
    width: 300px;
    height: 150px;
}