.open-aside {
    width: 40px;
}

.btn {
    height: 40px;
    padding: 0 15px;
    background-color: $btn;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

    &:hover {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
    }

    &:active {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    }
}

.btn-group-section {
    margin-left: 15vw;
}
