.open-aside {
    cursor: pointer;
    background: $btn;
    color: #000;
    border: none;
}

.open-aside:hover {
    background: $btn-hover;
}

.btn {
    background-color: $btn;
    border: none;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn:hover {
    background-color: $btn-hover;
    color: #fff;
}

.btn-right {
    margin-right: 15vw;
    float: right;
}